body {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#paper-title {
    font-size: 50px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 0%;
    margin-bottom: 0%;
}

#authors {
    font-size: 25px;
    margin-left: 20%;
    margin-right: 20%;
}

#affiliations {
    font-size: 18px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 0%;
    margin-bottom: 0%;
}

#abstract {
    text-align: justify;
    margin-left: 20%;
    width: 60%;
    font-size: 24px;
}

#timesplines-links {
    font-size: 32px;
}

.video-figure {
    width: 60%;
}

#mats-navbar {
    font-size: 30px
}

#evaluation>p {
    text-align: justify;
    margin-left: 20%;
    width: 60%;
    font-size: 24px;
}

.gallery, #reproduction-original {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-img {
    position: relative;
    height: 400px;
    width: 400px;
    overflow: hidden;
}

.gallery-img img {
    object-fit: cover;
    height: 400px;
    width: 400px;
    object-position: center;
}

.gallery-img p {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.72);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    width: 360px;
    height: 360px;
    margin: 0;
    padding: 20px;
    text-align: left;

    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
}

.gallery-img:hover p {
    visibility: visible;
    opacity: 1;
}

.study {
    text-align: left;
    margin-left: 20%
}

.study p {
    text-align: justify;
    margin-right: 20%;
    font-size: 24px;
}

#study1gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 20%;
    padding-right: 20%;
}


.study1img {
    position: relative;
    height: 200px;
    width: 200px;
    overflow: hidden;
    vertical-align: middle;
}

.study1img img {
    object-fit: scale-down;
    
    height: 200px;
    width: 200px;
    object-position: center;
}

.study1img p {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    text-align: center;
    font-size: 24px;
    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
}

.study1img:hover p {
    visibility: visible;
    opacity: 1;
}

#inspiration {
    margin-right: 20%;
}
#inspiration img {
    width: 100%;
}